.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  transition: opacity 0.1s linear;
}
.footer__column-link:hover {
  opacity: 0.6;
}
